{% extends "base.html" %}

{% block content %}

	<div id="content" class="p-4 p-md-5 pt-5">
		<h2 class="mb-4">Upload</h2>
			<center>
				<div class="container  fileuploader ">
					<div class="row justify-content-center">
						<div class="col-md-8 uploader">
							<form method="POST" action="/index" class="justify-content-center" enctype="multipart/form-data">
								
								{{ form.hidden_tag() }}

								{{ form.file(id="fileupload1") }}
								<!--<input type="file" id="fileupload1" required="" />-->
								<input type="image" class="dropimg" src="../static/images/drop.png" onclick='$("#fileupload1").click()' value="Upload" /><br>

                				<!--<input type="text" class="form-control qinput" placeholder="Enter book Name" required=""><br>-->
								{{ form.name(class="form-control qinput", placeholder="Enter Book name") }}<br>

                				<!--<input type="submit" value="Upload" name="Upload" class="btn btn-primary form-group">-->
								{{ form.submit(class="btn btn-primary form-group", value = "Upload") }}
							</form>
						</div>
					</div>
				</div>
			</center>
		</div>
	</div>
	<!--<div class="modal"> Place at bottom of page </div>-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/main.js"></script>
	<!---<script>
	$(document). ready(function() {
		$("body").addClass(function(index, currentClass) {
			var adclass
			if(currentClass == "loading")
				adclass = "loaded"
			return adclass
		})
		$("body").removeClass(function(index, currentClass) {
			var rmclass
			if(currentClass == "loading")
				rmclass = "loading"
			return rmclass
		})
	})
	</script>
	-->

{% endblock %}