{% from "_macros.html" import get_index %}

{% extends "base.html" %}

{% block content %}

    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Search</h2>
            <div class="container  fileuploader ">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form method="POST" action="">

                            {{ form.hidden_tag() }}

                            <div class="form-group"><br><br>
                                {% if request.args.get('index') %}
                                    <label class="align-baseline"><b>Book Name</b></label><br>
                                    {{ form.index(value=get_index()) }}
                                {% else %}
                                    {{ form.index(class="form-control qinput", placeholder="Enter book Name") }}
                                {% endif %}
                            </div>

                            <div class="form-group"><br><br>
                                {{ form.query(class="form-control qinput", placeholder="Ask your Question here", style="border: 1px solid black;height: 100px") }}
                            </div>
                            <div class="form-group">
                                {{ form.types }}
  					  	    </div>
                            {{ form.submit(class="btn btn-primary form-group") }}
                            <div class="form-group"><br><br>
                                {% if res!='' %}
                                    {{ form.answer(value=res, class="form-control qinput", id="ans", style="border: 1px solid black;height: 50px;") }}
                                {% else %}
                                    {{ form.answer(class="form-control qinput", id="ans", style="border: 1px solid black;height: 100px;display: none") }}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

          
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

{% endblock %}